.flipper-tile { width: 15em; height: 15em; margin: 1em; }
.flipper-tilefront, .flipper-tileback { padding: 1em; border: 1px solid #ccc; color: #333; }
.flipper-tilefront { background: rgba(200, 0, 0, .5); }
.flipper-tileback { background: rgba(0, 0, 200, .5); }
.flipper-tilewrap, .flipper-tilefront, .flipper-tileback { -webkit-transition: .4s; -moz-transition: .4s; -ms-transition: .4s; -o-transition: .4s; transition: .4s; }
.cardHeight{
  min-height:300px;
    max-height:'content-fit';
}
.contentFitHeight{
  height: 'content-fit';
}
.frontImage{
  width:100%; 
  height: 300px;
}
.backImage{
  vertical-align:bottom; height: 70px;
}
.textAlign{
  text-align:left;
}
.backContentPadding{
  padding:30px;
}
.borderRight{
  border-right:1px lightgrey solid;
}
.fontStyle{
  color:grey;font-size:0.8rem;
}
.Pmargin{
  margin:0px;
}
.fontWeight{
  font-weight: 500;
}