.sub{
    font-family: 'Bree Serif', serif;
    /* font-size: 1.2em; */
    padding:0.6em 0 0 0;
    /* font-weight: 600; */
    text-transform: capitalize;
    text-align: left;
    white-space: wrap;
    text-overflow: ellipsis;
    min-width: fit-content;
}
.removePadding{
    padding: 0px;
}
.App .visibilityAccordance{
    padding:0px;
    text-align:left;
}

.body2{
    font-size: 0.7rem;
    /* padding-top:0.6em; */
    padding-left:0;
    margin:0;
    text-transform: capitalize;
    text-align: left;
    max-width: fit-content;
}
.subCard{
    font-weight: 500;
    font-size: 1rem;
    padding:0;
    font-family: 'Bree Serif', serif;
    text-transform: capitalize;
    text-align: left;
}
.body2Card{
    font-weight:400;
    font-size: 0.8rem;
    font-family: 'Jura', sans-serif;
    text-transform: capitalize;
    text-align: left;
    margin:0;

}
.visibilityAccordance{
    border:3px lightgray solid;
    border-radius: 10px;
}
.visibilityAccordance .image{
    min-height:100px;
    border-radius: 10px;
    max-height: 150px;
    /* width: 200px; */
}

.visibilityAccess .image{
    height:150px;
}
.fa.fa-heart-padding{
    padding:0;
} 
.image{
    padding: 0;
}
body{
    min-width: 100vw;
}
.outOfStockOverlay{
    position:absolute;
    bottom:0;
    height:30px;
    /* width:100%; */
    z-index:1;
    background-color: rgba(0,0,0,0.6);
}
.card-body{
    padding:1rem 1.25rem 0.3rem 0.95rem;
}
/* @media screen and (max-width:1179px){
    .col-xl-3{
        width:400px;
    }
}
@media screen and (max-width:1363px){
    .col-xl-3{
        width:400px;
    }
} */
/*
@media screen and (min-width:982px){
    .visibilityAccordance{
        display: none;
    }
    
}

@media screen and (max-width:981px){
    .visibilityAccess{
        display: none;
    }

}*/

/*
@media screen and (min-width:982px){
    .visibilityAccess{
        display: inline-block;
    }
    .image{
        height:38vh;;
    }
    
}*/
